<div class="module container broker_quote_tool">
  <div class="row" class="col-md-12">
    <h2>Quote/Roster Management</h2>

    <div class="text-right">
      <%=link_to "New Quote" , new_broker_agencies_quote_path , method: :get, class: "btn btn-primary", id: "new_quote"%>
    </div>

    <table class="table table-striped" id="Quote-index-dataTable">
      <thead>
      <tr>
        <th>Quote Name</th>
        <th>Family Count</th>
        <th>Benefit Group Count</th>
        <th>Claim Code</th>
        <th>State</th>
        <th>Roster</th>
        <th>Download</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>


      <!--<table class="table">
        <thead
        <tr>
          <th>Quote Action!!</th>
          <th>Quote Name</th>
          <th>Employer claim code</th>
          <th class="text-right">Family Count</th>
          <th class="text-right">State</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
         <% @all_quotes.each do |q| %>
        <tr>
           <td>
        <%=
          if q.aasm_state == 'draft'
           link_to "Edit Quote Info & Roster" , "/broker_agencies/quotes/#{q.id}/edit"
         else
           link_to "View Published Quote", "#", id: q.id, class: 'view-published'
         end
         %>
       </td>
           <td><%= q.quote_name %></td>
           <td><%= q.claim_code %></td>
           <td class="text-right"><%= q.quote_households.count %></td>
           <td class="text-right"><%= q.aasm_state %></td>
           <td><button type="button" onclick="delete_quote_handler" id="close_button" data-quote-id="<%=q.id%>" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
        </tr>
        <% end %>
      </tbody>
    </table>-->


  </div>
</div>

<script type="text/javascript" charset="utf-8">

  $("#Quote-index-dataTable").dataTable().fnDestroy();
  // datatables setup
  $(document).ready(function() {
    var dt = $('#Quote-index-dataTable').DataTable( {
      "processing": true,
      "serverSide": true,
      "ordering" : false,
      "paging": true,
      "lengthMenu": [ 10, 25],
      "destroy": true,
      "ajax": {
        url: "<%= quote_index_datatable_broker_agencies_quotes_path(:format => :json) %>",
        type: "POST",
        data: function ( d ) {
          console.log('Quote Index Datatable');
        }
      },
      /*"columnDefs": [
        { className: "dt-right", "targets": [ 0 ] }
      ],*/
      "columns": [
        { data: 'quote_name', className: "dt-right" },
        { data: 'family_count'},
        { data: 'benefit_group_count'},
        { data: 'claim_code'},
        { data: 'quote_state'},
        { data: 'quote_roster'},
        { data: 'quote_download'},
        { data: 'quote_delete'}
    ]
    });

    $('#Quote-index-dataTable').on('click', 'tr', function () {
      var tr = $(this).closest('tr');
      var row = dt.row( tr );
      if ( row.child.isShown() ) {
        row.child.hide();
        tr.removeClass('shown');
      }
      else {
        row.child( "<div>Benefit Group 1</div><div>Benefit Group 2</div>" ).show();
        tr.addClass('shown');
      }
    });

  });

  $('#Quote-index-dataTable').on( 'draw.dt', function () {
    console.log( 'Redraw occurred at: '+new Date().getTime() );
    $("button#close_button").click(delete_quote_handler);
  } );




  var delete_quote_handler = function(){

    $.ajax({
        type: "POST",
        url: "/broker_agencies/quotes/" + this.getAttribute("data-quote-id"),
        dataType: "js",
        data: {"_method":"delete"},
        success: function(){
          console.log("Deleted successfully");

        }
    });
    $(this).parent().parent().remove();
    event.preventDefault();
  };

  disableSelectric = true;

</script>
