<% plan_year = organization.employer_profile.latest_plan_year %>
<% census_employees = plan_year.find_census_employees if plan_year.present? %>
<% enrolled = plan_year.try(:enrolled).try(:count).to_i %>
<% eligible_to_enroll_count = census_employees.try(:active).try(:count).to_i %>
<% waived = census_employees.try(:waived).try(:count).to_i %>
<% disabled = organization.employer_profile.can_transmit_xml? %>
<% row_data = capture do %>
	<span class="for-remote" data-employer-id="<%= organization._id %>"></span>
	<span data-employer-profile-id="<%= organization.employer_profile.id %>"></span>
	<span class="for-remote-replace-url" id="send-secure-message" data-replace-url="<%= new_employers_inbox_path(id: organization.employer_profile.id, profile_id: @profile._id, to: organization.legal_name)%>"></span>
	<span class="click-row-data-link" id="transmit-xml">Transmit XML</span>
	<% if disabled %>
		<span><%= link_to('Transmit XML', transmit_group_xml_exchanges_hbx_profile_path(organization.employer_profile), method: :post, class: "disabled" , data: { confirm: group_xml_transmitted_message(organization.employer_profile) }) %></span
	<% else %>
		<span><%= link_to('Transmit XML', transmit_group_xml_exchanges_hbx_profile_path(organization.employer_profile), method: :post, data: { confirm: group_xml_transmitted_message(organization.employer_profile) }) %></span
	<% end %>
<% end %>

{
"legal_name": <%= raw (link_to organization.legal_name.titleize, employers_employer_profile_path(organization.employer_profile, :tab=>'home')).to_json %>,
"hbx_id": "<%= json_escape truncate("#{organization.id}", length: 8, omission: '' ) %>",
"fein": "<%= json_escape last_four_digits(organization.fein) %>",
"plan_year_status": "<%= json_escape organization.employer_profile.renewing_plan_year.present? ? "Renewing" : "New" %>",
"eligibility_criteria": "<%= json_escape eligibility_criteria(organization.employer_profile) %>",
"general_agency": "<% if organization.employer_profile.active_general_agency_legal_name.present? %><%= raw (organization.employer_profile.active_general_agency_legal_name.titleize) %><% end %>",
"broker": "<% if organization.employer_profile.broker_agency_profile.present? %><%= raw (organization.employer_profile.broker_agency_profile.organization.legal_name.titleize) %><% end %>",
"conversion": <%= raw boolean_to_glyph(organization.employer_profile.is_conversion?).to_json %>,
"status": "<%= raw organization.employer_profile.aasm_state.humanize.titleize %>",
"effective_date" : "<% if plan_year.present? %><%= raw organization.employer_profile.latest_plan_year.effective_date %><% end %>",
"invoiced" : <%= raw boolean_to_glyph(organization.current_month_invoice.present?).to_json %>,
"enrolled_waived" : "<%= raw enrolled %>/<%= raw waived %>",
"percentage" : "<%= ((enrolled / eligible_to_enroll_count * 100).to_i rescue 0) %>%",
"row_data" : <%= raw row_data.to_json %>
}
