<div class="module" data-generate-invoice-url="<%= generate_invoice_exchanges_hbx_profiles_path %>" data-export-csv-url="<%= export_csv_path %>" data-binder-paid-url="<%= binder_paid_exchanges_hbx_profiles_path %>">
  <%= render partial: "shared/data_table", locals:  {
    page_header:  ["Employers", ""],
    directions:  "",
    new_button:  [],
    sibling_pages: [],
    base_model: "organization",
    initial_column_set: "",
    tab: "Employer",
	  filters:  [
      ["All", "javascript:;", true, [], []],
      ["Enrolling", "", true, [
        ["All", "javascript:;", false],
        ["Initial Eligible", "javascript:;", false],
        ["Renewing", "javascript:;", false],
        ["Open Enrollment", "javascript:;", false],
        ["Binder Pending", "javascript:;", false],
        ["Binder Paid", "javascript:;", false],
      ],
      [
        ["#{(TimeKeeper.date_of_record.next_month.beginning_of_month).strftime("%B")} #{TimeKeeper.date_of_record.next_month.beginning_of_month.year}", "javascript:;", false],
        ["#{(TimeKeeper.date_of_record.next_month.beginning_of_month.next_month).strftime("%B")} #{TimeKeeper.date_of_record.next_month.beginning_of_month.next_month.year}", "javascript:;", false],
        ["#{(TimeKeeper.date_of_record.next_month.beginning_of_month.next_month.next_month).strftime("%B")} #{TimeKeeper.date_of_record.next_month.beginning_of_month.next_month.next_month.year}", "javascript:;", false],
        ["Custom Date", custom_dates_exchanges_hbx_profiles_path, true]
      ]
    ],
      ["Enrolled", "", true, [
        ["All", "javascript:;", false],
        ["Suspended", "javascript:;", false]
      ],
      []
    ],
    ["Applicants", "", true, [
        ["All", "javascript:;", false],
        ["Initial Ineligible", "javascript:;", false],
      ],
      []
  	]
    ],
  	bulk_actions:  [
      ["Mark Binder Paid", "javascript:;", false, false],
  		["Generate Invoice", "javascript:;", false, false],
      ["Export CSV", "javascript:;", false, true]
  	],
  	row_functions:  true,
    row_actions:  [
      ["Send Secure Message", "replace_url_send_secure_message", true ],
      ["Transmit XML", "click_row_data_link", true ]
    ],
  	buttons_below_table: [
  		# ['Print', 'url', 'request_type']
  	],
    custom_handlers: [
      "EmployerInvoicesDatatable.callEnrollingAllFilter",
      "EmployerInvoicesDatatable.callEnrollingInitialEligibleFilter",
      "EmployerInvoicesDatatable.callEnrollingRenewingFilter",
      "EmployerInvoicesDatatable.callEnrollingOpenEnrollmentFilter",
      "EmployerInvoicesDatatable.callEnrollingBinderPendingFilter",
      "EmployerInvoicesDatatable.callEnrollingBinderPaidFilter",
      "EmployerInvoicesDatatable.callEnrollingFirstMonthFilter",
      "EmployerInvoicesDatatable.callEnrollingSecondMonthFilter",
      "EmployerInvoicesDatatable.callEnrollingThirdMonthFilter",
      "EmployerInvoicesDatatable.callEnrolledAllFilter",
      "EmployerInvoicesDatatable.callEnrolledSuspendedFilter",
      "EmployerInvoicesDatatable.callApplicantsAllFilter",
      "EmployerInvoicesDatatable.callApplicantsInitialIneligibleFilter",
      "EmployerInvoicesDatatable.generateInvoicesForSelection",
      "EmployerInvoicesDatatable.addInvoicedScopesBeforeSorting",
      "EmployerInvoicesDatatable.addStatusScopesBeforeSorting",
      "EmployerInvoicesDatatable.addHbxIdScopesBeforeSorting",
      "EmployerInvoicesDatatable.addFeinScopesBeforeSorting",
      "EmployerInvoicesDatatable.addLegalNameScopesBeforeSorting",
      "EmployerInvoicesDatatable.addEmployerStatusScopesBeforeSorting",
      "EmployerInvoicesDatatable.addEligibilityScopesBeforeSorting",
      "EmployerInvoicesDatatable.addBrokerScopesBeforeSorting",
      "EmployerInvoicesDatatable.addConversionScopesBeforeSorting",
      "EmployerInvoicesDatatable.addEffectiveDateScopesBeforeSorting",
      "EmployerInvoicesDatatable.addEnrolledWaivedScopesBeforeSorting",
      "EmployerInvoicesDatatable.addPercentageScopesBeforeSorting",
      "EmployerInvoicesDatatable.addSubmittedAtScopesBeforeSorting",
      "EmployerInvoicesDatatable.callAllFilter",
      "EmployerInvoicesDatatable.markBinderPaid"
    ],
    child_rows: [false, "datatables/child_row"],
    destroy: true,
    processing_text: "Loading Employers...",
    responsive: true,
  	checkboxes: true,
  	pagination: true,
  	ordering: true,
  	info: true,
  	table_id: "employer-invoices-dataTable",
  	data_url: employer_invoice_datatable_exchanges_hbx_profiles_path(:format => :json),
  	columns: [
      ["Hbx Id", "hbx_id", "", [true, ""]],
      ["FEIN", "fein", "", [true, ""]],
      ["Legal name", "legal_name", "", [true, ""]],
      ["Employer Status", "employer_status", "dt-center", [true, ""]],
      ["Eligibility", "eligibility_criteria", "dt-center", [true, ""]],
      ["Broker", "broker", "", [true, ""]],
      ["CNVRSN?", "conversion", "dt-center", [true, ""]],
      ["Status", "status", "dt-center", [true, ""]],
      ["EFF Date", "effective_date", "", [true, ""]],
  	  ["Invoiced?", "invoiced", "dt-center", [true, ""]],
  	  ["Enrolled/Waived", "enrolled_waived", "dt-center", [true, ""]],
      ["PCT", "percentage", "dt-right", [true, ""]],
      ["Submitted At", "submitted_at", "dt-center", [true, ""]]
  	]
  } %>
</div>
<form id="export-csv-injected-form" action="<%= export_csv_path %>.csv" method="post">
</form>