<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon', :type => 'image/vnd.microsoft.icon' %>

    <title><%= content_for?(:title) ? yield(:title) : "Welcome to #{Settings.site.short_name} | #{Settings.site.short_name}" %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <body class="font">

    <%= render 'layouts/header' %>

    <div class="content <%= controller_name %> content-bottom">
      <%= render_flash %>
      <div class="container">
        <%= yield :horizontal_status %>

      </div>
        <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
    <script>
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
        <% unless Settings.analytics[request.env['HTTP_HOST'].gsub(/[^a-zA-Z]/, "")].nil? %>
          analytics.load("<%= Settings.analytics[request.env['HTTP_HOST'].gsub(/[^a-zA-Z]/, "")] %>");
        <% else %>
          analytics.load("<%= Settings.analytics.other %>");
        <% end %>
        <% unless current_user.nil? %>
          analytics.identify('<%= current_user.id.to_s %>', {
            'email': '<%= current_user.email.to_s %>',
            'Roles': '<%= current_user.roles.join(", ").to_s %>',
            'OIM ID': '<%= current_user.oim_id.to_s %>',
            'Created At': '<%= current_user.created_at.to_s %>'
            <% unless current_user.person.nil? %>
              , 'Person ID': '<%= current_user.person.id.to_s %>',
              'name': '<%= current_user.person.name_pfx.to_s %> <%= current_user.person.first_name.to_s %> <%= current_user.person.last_name.to_s %> <%= current_user.person.name_sfx.to_s %>',
              'HBX ID': '<%= current_user.person.hbx_id.to_s %>'
            <% end %>
          });
        <% end %>
        analytics.page();
      }}();
      $(document).on('ready page:load', function () {
        $('a').click(function(){
          window.analytics.track('Clicked Link', {
            'Href': $(this).attr('href')
            });
        });
      });
    </script>
  </body>
 </html>
