<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon', :type => 'image/vnd.microsoft.icon' %>

    <title><%= content_for?(:title) ? yield(:title) : "Welcome to #{Settings.site.short_name} | #{Settings.site.short_name}" %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <script>
      $(document).ready(function(){
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
          <% unless Settings.analytics[request.env['HTTP_HOST'].gsub(/[^a-zA-Z]/, "")].nil? %>
            analytics.load("<%= Settings.analytics[request.env['HTTP_HOST'].gsub(/[^a-zA-Z]/, "")] %>");
          <% else %>
            analytics.load("<%= Settings.analytics.other %>");
          <% end %>
          <% unless User.current_user.nil? %>
            analytics.identify('<%= User.current_user.id.to_s %>', {
              email: '<%= User.current_user.email.to_s %>',
              Roles: '<%= User.current_user.roles.join(", ").to_s %>',
              'OIM ID': '<%= User.current_user.oim_id.to_s %>',
              'Created At': '<%= User.current_user.created_at.to_s %>',
              <% unless User.current_user.person.nil? %>
                'Person ID': '<%= User.current_user.person.id.to_s %>',
                'name': '<%= User.current_user.person.name_pfx.to_s %> <%= User.current_user.person.first_name.to_s %> <%= User.current_user.person.last_name.to_s %> <%= User.current_user.person.name_sfx.to_s %>',
                'HBX ID': '<%= User.current_user.person.hbx_id.to_s %>',
              <% end %>
            });
          <% end %>
          analytics.page();
          $('form').each(function(){
          if ($(this).attr('id')){
            var formName = $(this).attr('id');
          }else{
            var formName = $(this).parent().attr('id');
          }
            analytics.trackForm($(this), 'Form: ' + formName);
          });
          $('a').each(function(){
            analytics.trackLink($(this), 'Clicked: ' + $(this).attr('href'));
          });
        }}();
      });
    </script>
  </head>
  <body class="font">

    <%= render 'layouts/header' %>

    <div class="content <%= controller_name %> content-bottom">
      <%= render_flash %>
      <div class="container">
        <%= yield :horizontal_status %>

      </div>
        <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
 </html>
